@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jost";
  max-width: 1512px;
}
header {
  box-sizing: border-box;
  height: 196.4px;
  padding-right: 93px;
  background: rgba(217, 217, 217, 0.1);
  padding-top: 74px;
}
nav {
  display: flex;
  justify-content: flex-end;
}
a {
  font-size: 35px;
  line-height: 51px;
  color: #7a7070;
  display: flex;
  align-self: center;
}
a:hover,
a:focus,
a:active {
  color: #3d6fb4;
}
a + a {
  margin-left: 93px;
}

/* main  */
main {
  box-sizing: border-box;
  display: flex;
  padding: 0 135px;
}
h1 {
  font-size: 70px;
  line-height: 101px;
  width: 388px;
  height: 202px;
}
p {
  width: 608px;
  height: 209px;
  font-size: 35px;
  line-height: 51px;
}
img {
  width: 621px;
  height: 621px;
}
.wrapper-buttons {
  width: 336px;
  display: flex;
  justify-content: space-between;
}
button {
  box-sizing: border-box;
  width: 150px;
  height: 55px;
  border: 1px solid #000000;
  border-radius: 30px;
  text-transform: capitalize;
}
button:hover {
  background-color: aqua;
}
.watch {
  background-color: transparent;
}
.learn {
  background-color: #ecbcbc;
}
