*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    background: rgb(98, 93, 102);
}
.beta{
    color: aliceblue;
}
.collapse{
    font-size: 24px;
    text-transform: capitalize;
}
.alpha{
    border: 2px solid aqua;
}

.item{
    display: flex;
    background: rgb(234, 231, 213);
    border: 2px solid gray;
}
.description{
    font-size: 24px;
    margin: 10px;
    color: blue;
    font-weight: 800;
}

/*Simps */ 
.item-simp, .item-course{
    border: 2px solid rgb(119, 198, 219);
    margin: 10px;
    background: rgb(224, 229, 231);
    padding: 25px;
}
.item-simp img{
    width: 150px;
}
.age{
    color: brown;
    font-weight: 800;
    font-size: 24px;
}

/* Course  */
.wrapper-duration{
    display: flex;
    justify-content: space-between;
    background-color: azure;
}
.name{
    text-align: center;

}

.item-course{
    background-color: rgb(228, 216, 238);
}
