@media screen and (min-width: 300px) and (max-width: 600px) {
  .wrap {
    padding: 15px;
  }
  .wrap-bcdef {
    flex-direction: column;
  }
  .wrap-bcde {
    width: 100%;
  }
  .a {
    margin: 15px 0 30px 0;
  }
  .f {
    width: 100%;
  }
  .wrap-cde {
    margin: 30px 0;
  }
  .d {
    margin: 0 30px;
  }
  .f {
    margin-top: 15px;
  }
}
