* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
.wrap-bcdef {
  display: flex;
  width: 95%;
}
.wrap-bcde {
  width: 80%;
}
.wrap-cde {
  display: flex;
}
.a,
.b,
.c,
.d,
.e,
.f {
  background-color: rgb(184, 175, 175);
  height: 230px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a {
  width: 95%;
}

.f {
  width: 20%;
  height: 464px;
}
.c,
.d,
.e {
  width: calc(100% / 3);
}
