* {
  box-sizing: border-box;
}
body {
  background: url("https://images.unsplash.com/photo-1502691876148-a84978e59af8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
background-size: cover;
  font-size: 18px;
}
h1{
    font-size: 28px;
}
.info {
  width: 60%;
  background-color: rgb(247, 240, 237, 0.9);
  padding: 10px;
}
.bottom {
  margin-top: 20px;
}
